@page "/converter"
<h1>Convert Inch to/from Centimeter</h1>

<label>Inches</label>

<input type="number" @bind-value="@Inches" @bind-value:event="oninput"/>

<span>=</span>

<input type="number" @bind-value="@Centimeters" @bind-value:event="oninput" />

<label>Centimeters</label>

@code {
	double inches = 1; //This is default value
	double centimeters = 2.54; //This is default value

	public double Inches
	{
		get => inches;
		set
		{
			centimeters = value * 2.54;
			inches = value;
		}
	}

	public double Centimeters
	{
		get => centimeters;
		set
		{
			centimeters = value;
			inches = value / 2.54;
		}
	}
}
