@page "/weather"
@using LearningBlazor.Shared

<h3>Weather</h3>
@foreach(var forecast in forecasts)
{
	<Forecast Outlook="@forecast.Summary" Temperature="@forecast.TemperatureC.ToString()" DayOfWeek="@forecast.Date.DayOfWeek">
		<CustomMessage>
			@if(forecast.Summary == "Rainy")
			{
				<div class="alert alert-warning">
					Tornado Warning!
				</div>
			}
		</CustomMessage>
	</Forecast>
}


@code {
	WeatherForecast[] forecasts;

	protected override void OnInitialized()
	{
		forecasts = GenerateDemoForecats();
	}

	private WeatherForecast[] GenerateDemoForecats()
	{
		var rng = new Random();

		return Enumerable.Range(1, 5).Select(index => new WeatherForecast
		{
			Date = DateTime.Now.AddDays(index),
			TemperatureC = rng.Next(10, 25),
			Summary = Summaries[rng.Next(Summaries.Length)]
		}).ToArray();


	}

	private static string[] Summaries => new[] { "Sunny", "Cloudy", "Rainy" };
}
